@{
    ViewBag.Title = "React inside CSHTML";
}
<br/>
@{
    var date = DateTime.Now.ToShortDateString();
    @:Today's date is: @date <br />
}

<!-- We will put our React component inside this div. -->
<div id="hello_world_container"></div>
<div id="contact_list_container"></div>
<!-- Load React. -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<!-- Load our React component. -->
<script src="~/Scripts/HelloWorld.js"></script>
<script src="~/Scripts/ContactListData.js"></script>